/*  Root */

:root {
    --aquagreen: rgb(0, 150, 135);
    --bg-gray: rgb(219, 219, 211);

    --light-gray-1: rgb(235, 235, 235);
    --light-gray-2: rgb(250, 250, 250);
}


/*! Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: Lato, 'Helvetica Neue', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(var(--aquagreen) 0%,
            var(--aquagreen) 15%,
            var(--bg-gray) 15%,
            var(--bg-gray) 100%);
}

#menu>*,
#chat-window>* {
    width: 100%;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

/*? Flex */
.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/*? Cols */

.col-35 {
    flex-basis: 35%;
}

.col-65 {
    flex-basis: 65%;
}

/* # ----- MAIN ----- */

/** UI */


.row {
    height: 40rem;
    flex-wrap: nowrap;
}

/**  Menu */


/* @ menu-header */

#menu-header {
    height: 50px;
    width: 100%;
    background-color: var(--light-gray-1);

    justify-content: space-between;
}

/*| menu-header-left */

#menu-header-left {
    margin-left: 10px;
}

/*| menu-header-right */

#menu-header-right i {
    margin: 0 10px;
    cursor: pointer;
    color: grey;
}

#profile-pic {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 50px;
    margin-right: 10px;
}


/* @ menu-banner */

#menu-banner {
    height: 60px;
    width: 100%;
    background-color: rgb(141, 217, 252);
    padding-left: 20px;
}

#banner-icon {
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50px;
    margin-right: 10px;
    background-color: white;
}

#banner-icon i {
    color: rgb(141, 217, 252);
}

#menu-banner a {
    color: rgb(63, 63, 63);
    font-weight: 300;
    font-size: 14px;
}

/* @ menu-searchbar */

#menu-searchbar {
    height: 40px;
    width: 100%;
    background-color: var(--light-gray-2);
    padding: 5px;
}

#search-field {
    background-color: white;
    color: gray;
}

#search-field * {
    padding: 10px;
    margin: 5px 10px;
}

#search-field span {
    font-size: 14px;
}

/* @ menu-contact-list */

#menu-contactlist {
    width: 100%;
    background-color: var(--light-gray-2);
    height: calc(100% - 150px);
    overflow-y: scroll;
}

#chat-card {
    height: 70px;
    width: 100%;
    background: white;
}

#chat-card:hover {
    cursor: pointer;
    background-color: var(--light-gray-1);
}

.chat-profile-pic {
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50px;
    margin: 0 10px;
    background-color: white;
}


/**  Chatwindow */

#chat-window {
    position: relative;
}


/* @ chat-header */
#chat-header {
    height: 50px;
    background-color: var(--light-gray-1);

    justify-content: space-between;
    padding: 0 15px;

    position: sticky;
    top: 0;
    left: 0;
}

#last-seen {
    font-size: 14;
    color: gray;
}

#chat-header-right i {
    margin: 0 10px;
    cursor: pointer;
    color: grey;
}

/* @ chat-main */

#chat-main {
    height: calc(100% - 100px);
    background-image: url(/img/mine.png);
    overflow-y: scroll;
    position: relative;
    padding: 3rem;

}

.chat-group {
    flex-direction: column;
}

.sent {
    background-color: rgb(214, 250, 187);
    width: 300px;
    min-height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    align-self: flex-end;
}

#chat-main .chat-msg .hidden {
    display: none;
}



.chat-msg .show {
    display: inline;
}

.received {
    background-color: white;
    width: 300px;
    min-height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}

.msg {
    text-align: start;
}

.date {
    font-size: 10px;
    color: gray;
    text-align-last: right;
}


/*@ chat-footer */
#chat-footer {
    height: 50px;
    background-color: rgb(242, 237, 233);
}

#chat-footer i {
    font-size: 20px;
    color: gray;
    margin: 0 20px;
}

#chat-footer input {
    border: 0px;
    width: 40rem;
    height: 30px;
    padding: 10px;

}