<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="GiovanniZumbo">

    <!-- Font -->
    <link
        href="https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic"
        rel="stylesheet" />

    <!-- FontAwesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css'
        integrity='sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=='
        crossorigin='anonymous' />

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <title>BoolzApp</title>
    <!-- JS -->
    <script defer src="script.js"></script>
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!--  MAIN -->
    <main id="app">

        <div class="container">
            <!--#  UI  -->

            <div class="row d-flex" id="UI">

                <!--* Menu -->
                <div class="col-35" id="menu">

                    <!--@ menu-header -->
                    <section id="menu-header" class="d-flex justify-center align-center">

                        <!--| Menu Header left  -->
                        <div id="menu-header-left" class="d-flex justify-center align-center">
                            <div id="profile-pic">
                                <img src="img/avatar_io.png" alt="avatar_self">
                            </div>
                            <p>Sofia</p>
                        </div>

                        <!--| Menu Header right -->
                        <div id="menu-header-right" class="d-flex">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>

                    </section>

                    <!--@ menu-banner -->
                    <section id="menu-banner" class="d-flex align-center">

                        <div id="banner-icon" class="d-flex justify-center align-center">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>

                        <div id="banner-content">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </section>

                    <!--@ menu-searchbar -->
                    <section id="menu-searchbar">
                        <div id="search-field">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchList">
                        </div>
                    </section>

                    <!--@ menu-contact-list -->
                    <section id="menu-contactlist">

                        <div v-if="(searchList === '')">
                            <div id="contact-card" class="d-flex align-center" v-for="(contact,i) in contacts"
                                @click="goToChat(i)">
                                <div class="chat-profile-pic">
                                    <img :src="contact.avatar" alt=" avatar_1">
                                </div>
                                <div class="chat-tab-info">
                                    <p id="name">{{ contact.name }}</p>
                                </div>
                            </div>
                        </div>

                        <div v-else>
                            <div id="contact-card" class="d-flex align-center" v-for="(contact,i) in filteredContacts"
                                @click="goToChat(i)">
                                <div class="chat-profile-pic">
                                    <img :src="contact.avatar" alt=" avatar_1">
                                </div>
                                <div class="chat-tab-info">
                                    <p id="name">{{ contact.name }}</p>
                                </div>
                            </div>

                    </section>
                </div>


                <!--* Chat Window -->
                <div class="col-65" id="chat-window">

                    <!--@ chat-header -->
                    <div id="chat-header" class="d-flex">

                        <!--| chat-header-left  -->
                        <div id=" chat-header-left" class="d-flex align-center">

                            <div class="chat-profile-pic">
                                <img :src="contacts[activeIndex].avatar" alt="avatar_1">
                            </div>
                            <div class="chat-tab-info">
                                <p class="name">{{contacts[activeIndex].name}}</p>
                                <p id="last-seen">Ultimo accesso oggi alle</p>

                            </div>

                        </div>

                        <!--| chat-header-right  -->
                        <div id="chat-header-right" class="d-flex align-center">

                            <i class=" fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>



                    <!--@ chat-main -->
                    <div id="chat-main">

                        <div class="chat-group d-flex " v-for="(contact, i) in contacts" v-show="i === activeIndex">
                            <div class="chat-msg d-flex" v-for="(message,j) in contact.messages"
                                :class=" contact.messages[j].status ">

                                <div id="msg-text">
                                    <p class="msg">{{message.message}}</p>
                                    <p class="date">{{message.date}}</p>
                                </div>

                                <div id="msg-menu">
                                    <button @click="showMenu()">
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </button>

                                    <div id="options" v-show="optionMenu === true">
                                        <ul>
                                            <li><i class="fa-regular fa-trash-can"></i> <span>Delete message</span></li>
                                            <li><i class="fa-solid fa-circle-info"></i> <span>Info</span></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <!--@ chat-footer  -->
                    <div id="chat-footer" class="d-flex align-center">
                        <i class="fa-regular fa-face-smile"></i>
                        <div>
                            <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage"
                                @keyup.enter="sendNewMessage(newMessage, activeIndex)">
                        </div>
                        <i class="fa-solid fa-microphone"></i>

                    </div>
                </div>

            </div>
        </div>
    </main>
</body>

</html>